{% extends "layout.html" %}

{% block body %}
{% if not current_user.is_authenticated %}
<p>
    <b>Welcome to TaskList</b>
    <p>Please Login/Register to continue.</p>
</p>
{% else %}
{% if needs_tasks is defined %}
<p>
    The following users need work:
</p>

<ul>
    {% for user in needs_tasks %}
    <li>
        {{ user.username }}
    </li>
    {% endfor %}
</ul>

{% endif %}
{% if total_urgent_tasks is defined %}
<p>
    Your urgent tasks:
</p>
<ul>
    {% for task in total_urgent_tasks %}
    <li>
        '{{ task.name }}' listalla: {{ task.listname }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if total_tasks is defined %}
{% for count in total_tasks %}
<p>
    You have {{ count.count }} tasks.
</p>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}