{% extends "layout.html" %}

{% block body %}
{% if current_user.is_authenticated %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Urgency</th>
            <th scope="col">Done?</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    {% for task in tasks %}
    <tbody>
        <tr>
            <th scope="row">{{ task.name }}</th>
            {% if task.urgency == 1 %}  
            <td>Not urgent</td>
            {% elif task.urgency == 2 %}
            <td>Semi urgent</td>
            {% elif task.urgency == 3 %}
            <td>Urgent</td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ task.done }}</td>
            
        </tr>
    </tbody>
    {% endfor %}
</table>



{% else %}
<p>Log in to see your tasklist</p>
{% endif %}
{% endblock %}